@font-face {
  font-family: "AvenirNext";
  font-weight: 400;
  src: url(./assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
}
@font-face {
  font-family: "AvenirNextDemi";
  font-weight: 600;
  src: url(./assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
}
@font-face {
  font-family: "AvenirNextBold";
  font-weight: 700;
  src: url(./assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
}
body {
  font-family: "AvenirNext", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
}
body h1, body h2, body h3, body strong {
  font-family: "AvenirNextBold";
}
body h1 {
  font-size: 33px;
  line-height: 44px;
}
body h2 {
  font-size: 16px;
  line-height: 20px;
}
body h3 {
  font-size: 14px;
}
body p {
  color: #000;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
body button {
  font-size: 12px;
  line-height: 20px;
  padding: 10px 15px;
  background-color: #0095FF;
  color: white;
  border: none;
  border-radius: 4px;
  width: 145px;
  font-family: "AvenirNextBold";
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2% 0% 1% 5%;
  border-bottom: 1px solid #E1E1E1;
}
.header__logo {
  font-size: 24px;
}
.header__logo__img {
  height: 30px;
}
.header__search-upload {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 30px;
  padding-right: 40px;
  width: 40vw;
}
.header__search-input {
  width: 15vw;
  padding: 5px;
  height: 20px;
  background-color: #FAFAFA;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  font-family: "AvenirNext", sans-serif;
}
.header__user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.App {
  overflow-x: auto;
}

.main-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.main-content__details-next-videos {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 100%;
}
.main-content__details-next-videos .left-column {
  width: 55vw;
  margin-right: 20px;
  padding-left: 5vw;
}
.main-content__details-next-videos .left-column .video-info {
  margin-bottom: 20px;
}
.main-content__details-next-videos .left-column .video-info p {
  margin: 5px 0;
  color: #000;
}
.main-content__details-next-videos .left-column .video-info-data {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 10px;
}
.main-content__details-next-videos .left-column .comments {
  margin-top: 20px;
}
.main-content__details-next-videos .left-column .comments strong {
  font-size: 14px;
}
.main-content__details-next-videos .left-column .comments__new {
  margin-bottom: 40px;
}
.main-content__details-next-videos .left-column .comments__new__input {
  width: 35vw;
  flex-grow: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}
.main-content__details-next-videos .left-column .comments__new__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main-content__details-next-videos .left-column .comments__new__user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-content__details-next-videos .left-column .comments__item {
  display: flex;
  margin-bottom: 20px;
  border-top: 1px solid #E1E1E1;
}
.main-content__details-next-videos .left-column .comments__item__content {
  flex-grow: 1;
}
.main-content__details-next-videos .left-column .comments__item__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5px;
}
.main-content__details-next-videos .left-column .comments__item__date {
  font-size: 12px;
  color: #AFAFAF;
}
.main-content__details-next-videos .right-column {
  width: 30vw;
  padding: 0 3vw;
  border-left: 1px solid #E1E1E1;
}
.main-content__details-next-videos .right-column .next-videos__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-content__details-next-videos .right-column .next-videos__title {
  color: #AFAFAF;
  font-family: "AvenirNextDemi";
  padding-left: 10px;
}
.main-content__details-next-videos .right-column .next-videos__list__item {
  display: flex;
  align-items: center;
  padding: 10px;
  max-width: 29vw;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}
.main-content__details-next-videos .right-column .next-videos__list__item img {
  width: 120px;
  height: 70px;
  margin-right: 10px;
  border-radius: 5%;
}
.main-content__details-next-videos .right-column .next-videos__list__item:hover {
  background-color: #E1E1E1;
}
.main-content__details-next-videos .right-column .next-videos__list__item__title {
  padding-bottom: 10px;
}
.main-content .video {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 52.9411764706vw;
  justify-content: center;
  align-items: center;
}
.main-content .video__player {
  width: 100vw;
  background-color: #000;
  height: 52.9411764706vw;
}
@media (max-width: 767px) {
  .main-content body h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .main-content body h3 {
    font-size: 13px;
  }
  .main-content body p {
    font-size: 13px;
    line-height: 18px;
  }
  .main-content body button {
    font-size: 10px;
  }
  .main-content .header {
    flex-direction: column;
  }
  .main-content .header__search-upload {
    flex-direction: column;
  }
  .main-content .header__logo__img {
    width: 100%;
    height: 6vh;
  }
  .main-content .header__search-input {
    width: 80vw;
  }
  .main-content .main-content__details-next-videos {
    flex-direction: column;
    padding: 2%;
  }
  .main-content .main-content__details-next-videos .left-column,
  .main-content .main-content__details-next-videos .right-column {
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
  }
  .main-content .main-content__details-next-videos .right-column {
    border-left: none;
  }
  .main-content .main-content__details-next-videos .next-videos__list__item {
    max-width: none;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main-content .header__logo {
    font-size: 22px;
  }
  .main-content .header__search-input {
    width: 200px;
  }
  .main-content .video__player {
    height: 400px;
  }
}
@media (min-width: 1280px) {
  .main-content .header__logo {
    font-size: 28px;
  }
  .main-content .header__search-input {
    width: 300px;
  }
  .main-content .video {
    flex-direction: row;
  }
  .main-content .video__info {
    width: 40%;
    padding-left: 20px;
  }
  .main-content .video__info__title {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header__search-upload {
    display: flex;
    flex-direction: column;
  }
  .header__logo__img {
    width: 100%;
    height: 6vh;
  }
  .header__search-input {
    width: 80vw;
  }
}
.upload-page {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  font-family: "AvenirNext", sans-serif;
}
.upload-page h1 {
  font-size: 33px;
  line-height: 44px;
  font-family: AvenirNextBold;
}
.upload-page h2 {
  font-size: 16px;
  line-height: 20px;
  font-family: AvenirNextBold;
}
.upload-page h3 {
  font-size: 14px;
  font-family: AvenirNextBold;
}
.upload-page p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;
}
.upload-page__subheader {
  color: #AFAFAF;
  font-family: AvenirNextDemi;
  margin: 5px;
  margin-top: 20px;
  font-size: 12px;
}
@media (max-width: 767px) {
  .upload-page .upload-form__container {
    flex-direction: column;
    border-style: none;
  }
  .upload-page #sectionL {
    max-width: 100%;
  }
  .upload-page .upload-form__buttons {
    flex-direction: column;
  }
  .upload-page .upload-form__button--cancel, .upload-page .upload-form__button--publish {
    width: 100%;
    height: 5%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .upload-page .upload-form__container {
    flex-direction: column;
    border-style: none;
  }
  .upload-page #sectionL {
    max-width: 50%;
  }
}

#sectionL {
  max-width: 35%;
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.upload-form__container {
  display: flex;
  gap: 40px;
  padding-bottom: 3%;
  border-style: solid;
  border-color: #E1E1E1;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.upload-form__section {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.upload-form__thumbnail {
  width: auto;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.upload-form__thumbnail-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.upload-form__input {
  width: 95%;
  padding: 10px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 12px;
  background-color: #FAFAFA;
  font-family: AvenirNext;
}
.upload-form #description {
  height: 120px;
  resize: none;
}

.upload-form__buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  justify-content: flex-end;
}
.upload-form__buttons .upload-form__button {
  font-size: 12px;
  line-height: 20px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-family: AvenirNextBold;
  border-radius: 4px;
  width: 145px;
}
.upload-form__buttons .upload-form__button--publish {
  background-color: #0095FF;
  color: #fff;
}
.upload-form__buttons .upload-form__button--cancel {
  background-color: #fff;
  color: #0095FF;
  border: 2px solid #fff;
}/*# sourceMappingURL=VideoPlayer.css.map */