@font-face {
  font-family: "AvenirNext";
  font-weight: 400;
  src: url("./assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextDemi";
  font-weight: 600;
  src: url("./assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextBold";
  font-weight: 700;
  src: url("./assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
}
body {
  font-family: "AvenirNext", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
}
body h1,
body h2,
body h3,
body strong {
  font-family: "AvenirNextBold";
}
body h1 {
  font-size: 33px;
  line-height: 44px;
}
body h2 {
  font-size: 16px;
  line-height: 20px;
}
body h3 {
  font-size: 14px;
}
body p {
  font-size: 14px;
  line-height: 22px;
  color: #000;
  font-weight: 400;
}

.upload-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.upload-page__divider {
  margin: 20px 0;
  border: 1px solid #E1E1E1;
}
.upload-page__form {
  display: flex;
  flex-direction: column;
}
.upload-page__form-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.upload-page__form-left-column {
  width: 32%;
}
.upload-page__form-right-column {
  width: 60%;
  margin-right: 2%;
}
.upload-page__form-section {
  margin-bottom: 20px;
}
.upload-page__form-label {
  font-family: "AvenirNextDemi";
  color: #AFAFAF;
  font-size: 10px;
  margin-left: 2px;
}
.upload-page__form-input, .upload-page__form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  background-color: #fafafa;
  font-size: 12px;
  font-family: "AvenirNext";
  transition: border 0.3s ease;
}
.upload-page__form-input:focus, .upload-page__form-textarea:focus {
  border: 2px solid #0095FF;
  outline: none;
}
.upload-page__form-input--error, .upload-page__form-textarea--error {
  border: 1px solid #D22D2D;
}
.upload-page__form-textarea {
  resize: vertical;
  min-height: 100px;
}
.upload-page__form-placeholder {
  margin-top: 10px;
}
.upload-page__form-thumbnail-img {
  width: 100%;
  max-width: 200px;
}
.upload-page__form-buttons {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .upload-page__form-buttons {
    flex-direction: column;
    gap: 10px;
  }
}
.upload-page__form-button {
  font-size: 12px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-family: "AvenirNextBold";
  border-radius: 4px;
  width: 145px;
  transition: background-color 0.3s;
}
@media (max-width: 767px) {
  .upload-page__form-button {
    width: 85%;
  }
}
.upload-page__form-button--cancel {
  background-color: #fff;
  color: #0095FF;
  border: 2px solid #fff;
}
.upload-page__form-button--publish {
  background-color: #0095FF;
  color: white;
}
.upload-page__form-button--publish:hover {
  background-color: #007ACC;
}
.upload-page__title {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}
.upload-page__form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 15px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: black;
}

input::placeholder,
textarea::placeholder {
  color: black;
}

@media (max-width: 767px) {
  .upload-page__form-content {
    flex-direction: column;
  }
  .upload-page__form-content__form-left-column {
    width: 100%;
    order: 1;
  }
  .upload-page__form-content__form-right-column {
    width: 100%;
    order: 2;
    margin-right: 0;
  }
  .upload-page__form-buttons {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .upload-page__form-button {
    width: 100%;
  }
}/*# sourceMappingURL=VideoUpload.css.map */